$tablet-screen-width: 1024px;
$mobile-screen-width: 479px;

$category-color: grey;
$rank-color: #b8b8b8;

$search-bar-height-web: 60px;
$search-bar-height-tablet: 9vw;
$search-bar-height-mobile: 38px;