html {
  overflow-x: hidden;
}

body {
  max-width: 768px;
  margin: 0 auto !important;
  box-shadow: 0px -20px 30px #e2e2e2;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Microsoft JhengHei,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: $tablet-screen-width) {
  body {
    max-width: 100%;
    box-shadow: none;
  }
}